services:
  - type: web
    name: rbl-backend
    runtime: node
    plan: free
    rootDir: backend
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: DATABASE_URL
        sync: false
      - key: DB_HOST
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_NAME
        sync: false
      - key: JWT_SECRET
        value: RUTHLESS_v2_999
      - key: ENCRYPTION_KEY
        value: vOVH6sdmpNWjRRIqCc7rdxs01lwHzfr3
